h1 {
  color: #792134;
  font-family: Cuprum;
  font-size: 50px;
}


.profil-picture {
  border-radius: 50%;
  box-shadow: 5px 5px 3px grey;
}

.logo {
  width: 5em;
  margin: 0 auto ;

}

.banniere {
  text-align: center;
}

.reseau {
  font-size: 25px;
  text-align: center;
}


body {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(195,196, 217), rgb(183, 155, 158));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(195,196, 217), rgb(183, 155, 158)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Cuprum;
  color: rgb(75,75,75);
}

table {
  box-shadow: 5px 5px 3px grey;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  margin: 0 auto ;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
  padding: 1.5em;
}

a {
text-decoration: none;
color: rgb(75,75,75) ;
}

a:hover{
text-decoration: none;
color: #792134;
}

p {
  margin-left: 1em;
}

